@font-face {
			  font-family: 'Quicksand';
			  font-style: normal;
			  font-weight: 300;
			  src: local('Quicksand Light'), local('Quicksand-Light'), url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/qhfoJiLu10kFjChCCTvGlKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
			}

			@font-face {
			  font-family: 'Quicksand';
			  font-style: normal;
			  font-weight: 400;
			  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvW7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
			}

			*{
				border:0px;
				margin:0px;
			}

			body{
				background-image:url('blackorchid.png');
			  background-color: #141414;
			  padding:40px;
			}
			
			#intro, #outro{
			  width:400px;
			  margin-left:auto;
			  margin-right:auto;
			  
			  text-align:center;
			  font-family:'Quicksand',sans-serif;
			  color:#eeeeee;
			}
			
			#intro h1{
			  font-size:40px;
			  margin:20px;
			}

			#intro h1 span{
				font-weight:normal;
				font-size:8px;
			}
			
			#intro p{
			  margin:10px;	
			}
			
			#outro a{
			  text-decoration:none;
			  color:#eeeeee;
			  -webkit-transition: color 75ms ease-out;
			  -moz-transition: color 75ms ease-out;
			  -o-transition: color 75ms ease-out;
			  transition: color 75ms ease-out;
			}
			
			#outro a:hover{
			  color:#ED5413;
			 }


			 ::-moz-selection{
			  color:#E86B35;
			  background-color:rgba(100,100,100,0.2);
			 }
			 
			 #downloads{
			  width:405px;
			  margin-left:auto;
			  margin-right:auto;
			  margin-top:30px;
			  margin-bottom:30px;
			 }
			 
			 #downloads a{
			  text-decoration:none;
			 }
			 
			 #downloads .bigtile:first-child{
			  margin-right:5px;
			 }
			 
			 #downloads .bigtile:last-child{
			  margin-left:5px;
			 }
			 
			 form{
			 	width:100%;
			 }

			 #downloads form #filebutton{
			 	vertical-align: top;

			 	display:block;
			  	background-color:#eeeeee;
			  	color:#111111;
			  	border:0px;
			  	margin:20px;
			 	margin-bottom:20px;
			  	margin-left:auto;
			  	margin-right:auto;

			  	font-family:'Quicksand',sans-serif;

			 	padding:12px;
				border-radius:5px;
			 	-moz-box-sizing: border-box;
			  	-webkit-box-sizing: border-box;
			  	box-sizing: border-box;


			  	-webkit-transition: all 75ms ease-out;
			    -moz-transition: all 75ms ease-out;
			    -o-transition: all 75ms ease-out;
			    transition: all 75ms ease-out;

			 }

			 #downloads form #filebutton:hover{
			  	background-color:#ffffff;
				border-color: #ED5413;
		    	box-shadow: 0 0 5px #ED5413;

			 }

			 #downloads form #filebutton input[type='button']{
			 	display:inline-block;
			 	border:1px solid #111111;
			 	background-color:red;
				border-radius:5px;
			 }

			 #downloads .uploadButton{
			 	display:block;
			  	font-family:'Quicksand',sans-serif;
/* 			  	font-size:14px; */
			  
			  	background-color:#eeeeee;
			  	color:#111111;
			 
			  	margin-left:auto;
			  	margin-right:auto;

			  	text-align:center;

			  	width:195px;
			 	height:40px;
			  
			 	padding:12px;
				border-radius:5px;
			 	-moz-box-sizing: border-box;
			  	-webkit-box-sizing: border-box;
			  	box-sizing: border-box;

			  	-webkit-transition: all 75ms ease-out;
			    -moz-transition: all 75ms ease-out;
			    -o-transition: all 75ms ease-out;
			    transition: all 75ms ease-out;

			 }
			
			#downloads .uploadButton.greyed{
				background-color:#cdcdcd;
			}

			 #downloads .uploadButton.gridded{
			  	width:195px;
			 	display:inline-block;

			 	white-space:nowrap
			 	text-overflow:ellipsis;
			 }

			 #downloads .uploadButton.gridded:nth-child(2n+1){
			 	display:inline-block;
			 	margin-right:7px;
			 }

			 #downloads .uploadButton.gridded:nth-child(2n){
			 	display:inline-block;
			 	margin-left:7px;
			 }

			 #downloads .uploadButton:not(.greyed):hover{
			  background-color:#ffffff;
				border-color: #ED5413;
		    	box-shadow: 0 0 5px #ED5413;
			 }

			 #downloads .uploadButton.greyed:hover{
			 	cursor: default;
			 }

			 #downloads .uploadButton + .uploadButton{
			 	margin-top:20px;
			 }

			 .bigtile{
			  vertical-align: top;

			  display:inline-block;
			  font-family:'Quicksand',sans-serif;
/* 			  font-size:14px; */
			  
			  background-color:#eeeeee;
			  color:#111111;
			 
			  position:relative;
			  width:195px;
			  height:316px;
			  
			  padding:12px;
			  border-radius:5px;
			  -moz-box-sizing: border-box;
			  -webkit-box-sizing: border-box;
			  box-sizing: border-box;
			 }

			 .color1{
			  	background-color:#ffffff
			 }


			 .dl{
			  color:#111111;
			  -webkit-transition: background-color 75ms ease-out;
			  -moz-transition: background-color 75ms ease-out;
			  -o-transition: background-color 75ms ease-out;
			  transition: background-color 75ms ease-out;
			 }
			 
			 .dl:hover{
			  background-color:#ffffff
			 }
			 
			 .bigtile h1{
			  margin-bottom:5px;
			 }
			 
			 .dl p:last-child{
			  position:absolute;
			  bottom:12px;
			  right:12px;
			  left:12px;
			  font-size:0.65em;
			 }

